<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="conStringSQLite" connectionString="Data Source=/Users/claudioperez/Documents/programacion/legalRobot/visualstudioselenium/BD/PJRobots.sqlite"/>
    </connectionStrings>
    <appSettings>
        <add key="PJRobotSQlite" value="/Users/claudioperez/Documents/programacion/legalRobot/visualstudioselenium/BD/PJRobots.sqlite" />
        <add key="PDFPath" value="/Users/claudioperez/Downloads/PDF/" />
        <add key="Range" value="365" />
        <add key="statusByDefault" value="1" />
    </appSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SQLite.EF6" />
            <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
        </DbProviderFactories>
    </system.data>
</configuration>